BasedOnStyle: GNU
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterClass: true
  BeforeElse: true
SpaceBeforeParens: Never
BreakAfterReturnType: None
SortIncludes: false