# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Mac finder files
.DS_Store

# Build output folders
/build/
/build-*/

# Testing archives
*.rpk

# symlinks to CMake exported files
compile_commands.json

# Automatic testing files
test.sh
test-*.sh
